#Map {
  display: grid;
  grid-template-columns: auto 400px;
  grid-column-gap: 20px;
  width: 90vw;
  height: 90vh;
}

#ContractList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid rgba(255,255,255,0.5);
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
  list-style: none;
  align-items: flex-start;
  align-content: flex-start;
}

#CreateContract {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid rgba(255,255,255,0.5);
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
  align-items: center;
}

.error {
  color: red; 
}

.ContractPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(22,22,22,0.5);
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.status {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.active {
  background: #4CA1AF; 
}

.notActive {
  background: #2C3E50;
  color: white;
}