<div id="Setup">
  <h1>Initialize</h1>
  <button type="button" onclick="window.location.href='{{authUrls.liveMode}}'">Existing Car</button>
  <button type="button" onclick="window.location.href='{{authUrls.testMode}}'">Test car</button>
</div>
