<form action="/simulate" method="post" id="Setup">
  <h1>Setup Vehicle</h1>

  <div class="row">
    <label for="vehicle">Vehicle:</label>
    <select id="vehicle" name="vehicleId">
      {{#each vehicles}}
      <option value="{{id}}">{{year}} {{make}} {{model}}</option>
      {{/each}}
    </select>
  </div>
  <div class="row">
    <label>Email:</label>
    <input type="email" name="email" required placeholder="Email"/>
  </div>
    
  <button type="submit">Begin</button>
</form>