body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(30deg, #2C3E50, #4CA1AF);
}

h1 {
  margin: 20px 0;
}

button {
  margin-top: 50px;
}

#Setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 50px;
  border-radius: 20px;
  border: 5px solid rgba(255,255,255,0.5);
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.row {
  margin: 10px 0;
}